html {
	height: 100%;
	background-color: #A4D3EE;
	font-family: 'Alegreya', serif;
}

.page {
	margin: 40px 20px 0 20px;
}

.page form {
	margin: 0 0 20px 0;
}

.page .friendly-message {
	font-weight: 400;
	font-style: italic;
	font-size: 18px;
}

.page .form-group .search {
	font-family: 'Alegreya', serif;
	border-radius: 4px;
	width: 100vh;
	border: none;
	height: 43px;
	background-image: url('/assets/search.png');
	background-repeat: no-repeat;
	background-size: 25px;
	background-position: 10px;
	padding: 0 0 0 45px;
	outline: none;
	font-size: 20px;
}

.page .results-list {
	margin: 50px 0 0 0;
}

.page .results-list .title {
	font-weight: 700;
	font-size: 20px;
	margin: 0 0 10px 0;
}

.page .results-list .repo-row {
	padding: 10px 8px;
	margin: 5px 0;
	border: 1px solid #dddddd;
	border-radius: 6px;
	cursor: pointer;
	background-color: #ffffff;
}

.page .results-list .child {
	margin: 5px 0 0 16px;
}

.page .results-list .child a {
	text-decoration: none;
	color: #5D92B1;
}

.page .results-list .child span {
	font-weight: 500;
}

.page .results-list .child .description {
    margin: 8px 0 0 0;
    font-weight: 400;
    font-style: italic;
}

.page .results-list .parent:hover {
	background-color: #ededed;
}

.page .results-list .repo-row div {
	float: left;
	padding: 0 0 0 10px;
}

.page .results-list .repo-row:after {
	content: "";
  	display: table;
  	clear: both;
}